*.egg
*.py[cod]
*.so
*.egg-info/

.tox
.idea
v8unpack.exe

__pycache__/
build/
dist/
docs/_build/
tmp/
venv/
temp/
temp2/
tests_tmp/
tests/*/src/
tests/*/core/
*.spec
/tests/metadata/data/
*.erf
*.cf
*.cfe
*.epf
*.cfu
